breakReadsFile:   /data/sequencing/Illumina-archive/191002_M03249_0018_000000000-CN6GB/Data/Intensities/BaseCalls/Undetermined_S0_L001_R1_001.fastq.gz
virusReadsFile:   /data/sequencing/Illumina-archive/191002_M03249_0018_000000000-CN6GB/Data/Intensities/BaseCalls/Undetermined_S0_L001_R2_001.fastq.gz
index1ReadsFile:  /data/sequencing/Illumina-archive/191002_M03249_0018_000000000-CN6GB/Data/Intensities/BaseCalls/Undetermined_S0_L001_I1_001.fastq.gz
sampleConfigFile: /home/everett/releases/TransposonMapping_StGeme/StGeme.samples.config
outputDir: /home/everett/releases/TransposonMapping_StGeme/visaOutput
index1Reads.maxMismatch: 0
breakReads.linkerBarcode.maxMismatch: 1
virusReads.fullTest.maxMismatch: 0
collapseReplicates: TRUE
standardizeSitesBy: subject
standardizeBreakPointsBy: replicate

indexReads.rc: TRUE
demultiplexing.CPUs: 40
genomAlignment.CPUs: 20
visaHome: /home/everett/releases/TransposonMapping_StGeme/visa
correctGolayIndexReads: TRUE
sequence.chunk.size: 500000
alignment.chunk.size: 10000
sequence.trim.qualCode: '5'

trimmedRead.minLength: 25
##virusReads.startTest.length: 5
##virusReads.startTest.maxMismatch: 0

command.blat: /home/everett/software/blat/blat
command.blastBin: /home/everett/software/ncbi-blast-2.7.1+/bin
command.cutadapt3: /usr/bin/cutadapt3
command.python2: /usr/bin/python2
fragments.maxLength: 2500
fragments.minLength: 25
alignment.vector.minPercentID: 90
alignment.vector.minPercentQueryCoverage: 75
alignment.genome.minPercentID: 95
alignment.genome.minPercentQueryCoverage: 90
###
###breakReads.linkerCommon.maxMismatch: 1
