subject,sample,replicate,breakReadLinkerBarcode.start,breakReadLinkerBarcode.end,breakReadLinkerSeq,index1Seq,virusLTRSeq,vectorSeqFile,refGenomeBLATdb,virusRead.overReadSeq,breakRead.overReadSeq
Challenge_1,GTSP3171,1,1,21,ACTTAAACTTCCGCATGGCGTNNNNNNNNNNNNCTCCGCTTAAGGGACT,AAGCTTGAAACC,CAACCTGTTA,/home/everett/releases/TransposonMapping_StGeme/data/transposon.fasta,/home/everett/releases/TransposonMapping_StGeme/data/genome/GCF_000470375.1_Vir5453_genomic.2bit,AGTCCCTTAAGCGGAG,TAACAGGTTG
Challenge_1,GTSP3172,2,1,20,TGACCCTTCGGATTTACCCGNNNNNNNNNNNNCTCCGCTTAAGGGACT,TAAGCGTCTCGA,CAACCTGTTA,/home/everett/releases/TransposonMapping_StGeme/data/transposon.fasta,/home/everett/releases/TransposonMapping_StGeme/data/genome/GCF_000470375.1_Vir5453_genomic.2bit,AGTCCCTTAAGCGGAG,TAACAGGTTG
Challenge_2,GTSP3173,1,1,20,GTTGCCGACTTAACACTGCCNNNNNNNNNNNNCTCCGCTTAAGGGACT,ATAGCTTCGTGG,CAACCTGTTA,/home/everett/releases/TransposonMapping_StGeme/data/transposon.fasta,/home/everett/releases/TransposonMapping_StGeme/data/genome/GCF_000470375.1_Vir5453_genomic.2bit,AGTCCCTTAAGCGGAG,TAACAGGTTG
Challenge_2,GTSP3174,2,1,20,CGGCTTACAATTCCTGCGACNNNNNNNNNNNNCTCCGCTTAAGGGACT,CGGGATCAAATT,CAACCTGTTA,/home/everett/releases/TransposonMapping_StGeme/data/transposon.fasta,/home/everett/releases/TransposonMapping_StGeme/data/genome/GCF_000470375.1_Vir5453_genomic.2bit,AGTCCCTTAAGCGGAG,TAACAGGTTG
Challenge_3,GTSP3175,1,1,20,GAACGAGCACTAGTAAGCCCNNNNNNNNNNNNCTCCGCTTAAGGGACT,AGTCATCGAATG,CAACCTGTTA,/home/everett/releases/TransposonMapping_StGeme/data/transposon.fasta,/home/everett/releases/TransposonMapping_StGeme/data/genome/GCF_000470375.1_Vir5453_genomic.2bit,AGTCCCTTAAGCGGAG,TAACAGGTTG
Challenge_3,GTSP3176,2,1,20,GTAGGTACCGTTGTAGGCCTNNNNNNNNNNNNCTCCGCTTAAGGGACT,ATCTTGGAGTCG,CAACCTGTTA,/home/everett/releases/TransposonMapping_StGeme/data/transposon.fasta,/home/everett/releases/TransposonMapping_StGeme/data/genome/GCF_000470375.1_Vir5453_genomic.2bit,AGTCCCTTAAGCGGAG,TAACAGGTTG
Control_1,GTSP3177,1,1,20,AACCGAGATGTGATCGGACGNNNNNNNNNNNNCTCCGCTTAAGGGACT,AGCACCGGTCTT,CAACCTGTTA,/home/everett/releases/TransposonMapping_StGeme/data/transposon.fasta,/home/everett/releases/TransposonMapping_StGeme/data/genome/GCF_000470375.1_Vir5453_genomic.2bit,AGTCCCTTAAGCGGAG,TAACAGGTTG
Control_1,GTSP3178,2,1,20,GCATCCGTCCTTATTCGGGANNNNNNNNNNNNCTCCGCTTAAGGGACT,GCAAATCAGCCT,CAACCTGTTA,/home/everett/releases/TransposonMapping_StGeme/data/transposon.fasta,/home/everett/releases/TransposonMapping_StGeme/data/genome/GCF_000470375.1_Vir5453_genomic.2bit,AGTCCCTTAAGCGGAG,TAACAGGTTG
Control_2,GTSP3179,1,1,20,GGAAATCATTGCCGTCCAGCNNNNNNNNNNNNCTCCGCTTAAGGGACT,AAGCTTGAAACC,CAACCTGTTA,/home/everett/releases/TransposonMapping_StGeme/data/transposon.fasta,/home/everett/releases/TransposonMapping_StGeme/data/genome/GCF_000470375.1_Vir5453_genomic.2bit,AGTCCCTTAAGCGGAG,TAACAGGTTG
Control_2,GTSP3180,2,1,20,CGCCAATTGAGACTACACCCNNNNNNNNNNNNCTCCGCTTAAGGGACT,TAAGCGTCTCGA,CAACCTGTTA,/home/everett/releases/TransposonMapping_StGeme/data/transposon.fasta,/home/everett/releases/TransposonMapping_StGeme/data/genome/GCF_000470375.1_Vir5453_genomic.2bit,AGTCCCTTAAGCGGAG,TAACAGGTTG
Control_3,GTSP3181,1,1,20,GAAGGAGGAGATAACGCTGCNNNNNNNNNNNNCTCCGCTTAAGGGACT,ATAGCTTCGTGG,CAACCTGTTA,/home/everett/releases/TransposonMapping_StGeme/data/transposon.fasta,/home/everett/releases/TransposonMapping_StGeme/data/genome/GCF_000470375.1_Vir5453_genomic.2bit,AGTCCCTTAAGCGGAG,TAACAGGTTG
Control_3,GTSP3182,2,1,20,GACAGACTTGTTGGTCGTCCNNNNNNNNNNNNCTCCGCTTAAGGGACT,CGGGATCAAATT,CAACCTGTTA,/home/everett/releases/TransposonMapping_StGeme/data/transposon.fasta,/home/everett/releases/TransposonMapping_StGeme/data/genome/GCF_000470375.1_Vir5453_genomic.2bit,AGTCCCTTAAGCGGAG,TAACAGGTTG
UninfectedControl,UninfectedControl-20191002,1,1,20,TCGAAAGGGCATCAACGCGANNNNNNNNNNNNCTCCGCTTAAGGGACT,AGTCATCGAATG,CAACCTGTTA,/home/everett/releases/TransposonMapping_StGeme/data/transposon.fasta,/home/everett/releases/TransposonMapping_StGeme/data/genome/GCF_000470375.1_Vir5453_genomic.2bit,AGTCCCTTAAGCGGAG,TAACAGGTTG
NoTemplateControl,NoTemplateControl-20191002,1,1,20,AGCAGGTCCGAAATTCTCGGNNNNNNNNNNNNCTCCGCTTAAGGGACT,ATCTTGGAGTCG,CAACCTGTTA,/home/everett/releases/TransposonMapping_StGeme/data/transposon.fasta,/home/everett/releases/TransposonMapping_StGeme/data/genome/GCF_000470375.1_Vir5453_genomic.2bit,AGTCCCTTAAGCGGAG,TAACAGGTTG
